<h1>Salut <%= @user.email %> !</h1>

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Voici ta page utilisateur</h2>
		<p class="text-muted">
			On n'est pas encore tout à fait au point, mais ça ne saurait tarder.<br> 
			tout vient à point.
		</p>
	</div>